.header {
  grid-area: header;
  box-sizing: border-box;
  margin: 0;
  padding: 0.6em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

@media (max-width: 767px) {
  .header {
    justify-content: flex-start;
    padding: 1em;
  }
}
